h1{
    margin: 30px 0 50px;
}
h4{
    text-align: center;
}
p{
    margin-bottom: 5px;
}
.bd-navbar {
    min-height: 4rem;
    background-color: #7952b3;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}
.content{
    padding: 50px 20px;
}
footer{
    background: #efefef;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 80px;
}
footer .container{
    margin-top: 25px;
}
.card-header{
    padding: 0;
}
.card-header button{
    width: 100%;
    text-align: left;
}