</div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-9">
                Выполнил: Ларченко А.Л.
            </div>
        </div>
    </div>
</footer>
<script src="/Views/js/scrypt.js"></script>
</body>
</html>