<?php include 'Header.tpl' ?>

<h1>Регистрация пользователя</h1>
<form action="/login" method="post">

    <div class="form-group">
        <label>Email*</label>
        <input type="text" name="email" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="form-group">
        <label>Пароль*</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>

<?php include 'Footer.tpl' ?>